.recipe {

  .recipe-visual {
    position: relative;

    .recipe-visual-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px 10px;
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
  }

  .recipe-description {
    font-size: 14px;
    line-height: 1.3em;
  }

  .recipe-information {
    font-size: 13px;

    & > * {
      background: linear-gradient(to bottom, #fff, #f6f4ef);
      padding: 10px;
      border: 1px solid #e2e0da;
      border-radius: 17px;
      position: relative;
    }

    .recipe-information-person {

      & > * {
        float: left;
      }

      .recipe-information-person-thumbnail {
        width: 13px;
      }
    }

    .recipe-information-report-badge {
      color: #fff;
      font-weight: bold;
      background-color: #bfbcb0;
      border: 1px solid #bfbcb0;
      border-radius: 15px;
      padding: 5px 7px;
      position: absolute;
      top: 50%;
      right: 4px;
      margin-top: -12px;
      font-size: 11px;
    }
  }
}
