.search {
  padding: 8px;
  background-color: #f8f6f0;

  .search-area-input {
    height: 40px;
    border: 1px solid #bfbcb0;
    border-radius: 3px;
  }

  .search-area-btn {
    background: linear-gradient(to bottom, #fcfcfa, #e5e3d8);
  }
}
