@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, a {
  color: #4c4a40;
  font-size: 14px;
  line-height: 1.4em; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*幅の指定*/
.full {
  width: 100% !important; }

.half {
  width: 50% !important; }

/*左寄せ*/
.left {
  float: left; }

/*右寄せ*/
.right {
  float: right; }

/*テキストの左寄せ*/
.align-left {
  text-align: left; }

/*テキストの右寄せ*/
.align-right {
  text-align: right; }

/*テキスト真ん中寄せ*/
.align-center {
  text-align: center; }

/*コンテンツ中央寄せ*/
.vertical-middle {
  vertical-align: middle; }

/*コンテンツ中央寄せ*/
.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

/*コンテンツ上下の幅*/
.l-container {
  padding: 10px; }

/*2カラムレイアウト*/
.l-half > * {
  width: 48%;
  float: left;
  box-sizing: border-box; }
  .l-half > *:last-child {
    margin-left: 4%; }

/*bottom*/
.l-bottom-small {
  margin-bottom: 5px !important; }

.l-bottom {
  margin-bottom: 15px !important; }

.l-bottom-large {
  margin-bottom: 30px !important; }

/*left*/
.l-left-small {
  margin-left: 5px !important; }

.l-left {
  margin-left: 15px !important; }

/*right*/
.l-right-small {
  margin-right: 5px !important; }

.l-right {
  margin-right: 15px !important; }

/*横並びリスト*/
.l-list > * {
  float: left; }

.l-row {
  display: -ms-flexbox;
  display: flex; }

/*tableレイアウト*/
.l-table {
  display: table; }
  .l-table > * {
    display: table-cell; }

/*paddingレイアウト*/
.l-padding {
  padding: 10px; }

.l-padding-right-small {
  padding-right: 10px; }

.l-padding-right {
  padding-right: 15px; }

/*行間レイアウト*/
.l-lineheight {
  line-height: 1.5em; }

.l-header .l-header-logo {
  padding: 8px;
  box-sizing: border-box;
  display: inline-block; }
  .l-header .l-header-logo > .l-header-logo-img {
    width: 145px; }

.l-header .l-header-btn {
  margin: 5px 0;
  float: right; }
  .l-header .l-header-btn > * {
    display: inline-block;
    width: 50px; }
  .l-header .l-header-btn .l-header-btn-login {
    display: block;
    width: 22px;
    margin: 2px auto; }
  .l-header .l-header-btn .l-header-btn-menu {
    display: block;
    width: 22px;
    margin: 2px auto; }

.l-featureList .l-featureList-thumbnail {
  width: 31%;
  float: left; }

.l-featureList .l-featureList-bookmark {
  width: 22px;
  position: absolute;
  top: 10px;
  right: 10px; }

.l-featureList .l-featureList-body {
  width: 69%;
  float: left;
  position: relative; }
  .l-featureList .l-featureList-body.l-featureList-body-arrival:after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 43px;
    height: 43px;
    background: url("../img/contest-new-arrival.png") no-repeat;
    background-size: 43px; }

.l-material {
  width: 100%; }
  .l-material tr > th, .l-material tr td {
    padding: 8px; }
  .l-material tr > th {
    text-align: left; }
  .l-material tr > td {
    text-align: right; }

.l-media .l-media-body {
  width: 64%;
  float: left; }

.l-media .l-media-thumbnail {
  width: 36%;
  float: left;
  overflow: hidden; }

.l-news .l-news-media > * {
  float: left;
  box-sizing: border-box; }

.l-news .l-news-media .l-news-media-thumbnail {
  width: 32%; }

.l-news .l-news-media .l-news-media-body {
  width: 68%; }

.l-newsHeader {
  height: 49px; }
  .l-newsHeader .l-newsHeader-logo {
    width: 52px;
    box-sizing: border-box;
    margin-right: -5px; }
  .l-newsHeader .l-newsHeader-text {
    width: 130px;
    box-sizing: border-box; }

.l-popularList::-webkit-scrollbar {
  display: none; }

.l-popularList > li {
  position: relative; }
  .l-popularList > li:first-child {
    margin-left: 0; }
  .l-popularList > li .l-popularList-rank {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0; }
  .l-popularList > li .l-popularList-thumbnail {
    width: 113px; }

.l-premiumMenu {
  margin-bottom: 25px; }
  .l-premiumMenu .l-premiumMenu-date {
    margin-bottom: 10px; }
  .l-premiumMenu .l-premiumMenu-visual {
    height: 215px;
    position: relative;
    margin-bottom: 10px; }
    .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-img {
      position: absolute; }
      .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-img.main {
        width: 160px;
        height: 160px;
        top: 16px;
        left: 10px; }
      .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-img.sub {
        width: 80px;
        height: 80px;
        top: 7px;
        right: 20px; }
      .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-img.tertiary {
        width: 80px;
        height: 80px;
        top: 108px;
        right: 20px; }
    .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-theme {
      position: absolute;
      top: 12px;
      left: 0; }
    .l-premiumMenu .l-premiumMenu-visual .l-premiumMenu-visual-stick {
      position: absolute;
      width: 100px;
      bottom: 6px;
      left: 50%;
      margin-left: -50px; }
  .l-premiumMenu .l-premiumMenu-info .l-premiumMenu-infoList-icon {
    height: 18px; }

.l-profile .l-profile-thumbnail {
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }

.l-profile .l-profile-name {
  margin-bottom: 5px; }

.l-rankingList > li {
  padding: 0 3px; }

.l-rankingList > li > * {
  display: block; }

.l-rankingList .l-rankingList-icon {
  width: 20px;
  margin: 0 auto; }

.l-rankingList .l-rankingList-icon-large {
  width: 24px;
  margin: 0 auto; }

.l-rankingList .l-rankingList-thumbnail {
  width: 65px; }

.l-rankingList .l-rankingList-thumbnail-large {
  max-width: 105px; }

.l-rankingList .l-rankingList-info {
  width: 85px; }
  .l-rankingList .l-rankingList-info .l-rankingList-info-title {
    margin: 15px 0 5px; }

.l-rowList > li {
  width: 50%;
  float: left;
  box-sizing: border-box; }

.l-step .l-step-item .l-step-item-body {
  display: -ms-flexbox;
  display: flex; }

.l-step .l-step-item .l-step-item-thumbnail {
  width: 136px; }

.l-tab {
  width: 100%;
  vertical-align: middle; }
  .l-tab .l-tab-btn {
    vertical-align: middle;
    position: relative; }
    .l-tab .l-tab-btn .l-tab-btn-icon {
      position: absolute;
      top: 8px;
      left: 30px; }
    .l-tab .l-tab-btn .l-tab-btn-anchor {
      width: 100%;
      display: inline-block; }

.l-search .l-search-area {
  position: relative;
  height: 38px; }
  .l-search .l-search-area .l-search-area-input {
    width: 100%;
    height: 40px; }
  .l-search .l-search-area .l-search-area-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }

.l-recipe .l-recipe-visual {
  position: relative; }
  .l-recipe .l-recipe-visual .l-recipe-visual-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 20px 10px; }

.l-recipe .l-recipe-information > * {
  position: relative; }

.l-recipe .l-recipe-information .l-recipe-information-person > * {
  float: left; }

.l-recipe .l-recipe-information .l-recipe-information-person .l-recipe-information-person-thumbnail {
  width: 18px; }

.l-recipe .l-recipe-information .l-recipe-information-badge {
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -13px; }

.l-recipe .l-recipe-navi {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 7px; }
  .l-recipe .l-recipe-navi > .l-recipe-navi-item {
    display: table-cell; }
    .l-recipe .l-recipe-navi > .l-recipe-navi-item .l-recipe-navi-item-anchor > * {
      margin: 0 auto; }

.l-listBar .l-listBar-item {
  position: relative; }
  .l-listBar .l-listBar-item .l-listBar-item-anchor {
    width: 100%;
    display: table; }
    .l-listBar .l-listBar-item .l-listBar-item-anchor:after {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 8px;
      width: 8px;
      height: 8px;
      margin-top: -4px; }
  .l-listBar .l-listBar-item .l-listBar-item-thumbnail {
    display: table-cell;
    width: 40px;
    margin-right: 5px; }
  .l-listBar .l-listBar-item .l-listBar-item-text {
    width: 250px;
    display: table-cell;
    vertical-align: middle; }
  .l-listBar .l-listBar-item .l-listBar-item-badge {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -11px; }

.l-carousel .l-carousel-title .l-carousel-title-icon {
  vertical-align: middle; }

.l-categoryList .l-categoryList-thumbnail {
  width: 40px;
  float: left;
  margin: 5px 8px 0 0; }

.l-categoryList .l-categoryList-body {
  width: 220px;
  float: left; }

.header {
  border-top: 3px solid #ff9933;
  background-color: #f8f6f0; }
  .header .header-btn > * {
    border-left: 1px solid #eae8e3;
    box-shadow: inset 1px 0 0 #fff;
    font-size: 9px;
    text-align: center; }

.newsHeader {
  border-top: 3px solid #ff9933; }
  .newsHeader .newsHeader-logo {
    padding: 0 8px 6px; }
  .newsHeader .newsHeader-text {
    padding: 14px 10px;
    border-left: 1px solid #dedcd7; }

.search {
  padding: 6px 8px 10px;
  background-color: #f8f6f0;
  border-bottom: 1px solid #bfbcb0; }
  .search .search-area {
    border: 1px solid #bfbcb0;
    border-radius: 5px;
    overflow: hidden; }
    .search .search-area .search-area-input {
      border: 0;
      /*defaultで設定されているcssを打ち消す*/
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
      font-size: 16px;
      padding-left: 10px; }
    .search .search-area .search-area-btn {
      border: 0;
      /*defaultで設定されているcssを打ち消す*/
      border-left: 1px solid #bfbcb0;
      background: linear-gradient(to bottom, #fcfcfa, #e5e3d8);
      padding: 0;
      /*defaultで設定されているcssを打ち消す*/ }

.recipe .recipe-visual .recipe-visual-title {
  padding: 20px 10px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(123, 119, 105, 0), rgba(123, 119, 105, 0.4)); }

.recipe .recipe-description {
  font-size: 14px;
  line-height: 1.3em; }

.recipe .recipe-information {
  font-size: 13px; }
  .recipe .recipe-information > * {
    background: linear-gradient(to bottom, #fff, #f6f4ef);
    padding: 7px;
    border: 1px solid #e2e0da;
    border-radius: 20px; }
  .recipe .recipe-information .recipe-information-badge {
    color: #fff;
    font-weight: bold;
    background-color: #bfbcb0;
    border: 1px solid #bfbcb0;
    border-radius: 15px;
    padding: 2px 12px;
    font-size: 11px; }

.recipe .recipe-navi {
  border-top: 1px solid #bfbcb0;
  border-bottom: 1px solid #bfbcb0; }
  .recipe .recipe-navi > .recipe-navi-item {
    padding: 5px 4px;
    text-align: center;
    font-size: 9px;
    border-left: 1px solid #bfbcb0;
    background: linear-gradient(to bottom, #fcfcfa, #e5e3d8); }
    .recipe .recipe-navi > .recipe-navi-item:first-child {
      border: 0; }

.badge {
  color: #fff;
  font-weight: bold;
  background-color: #bfbcb0;
  border: 1px solid #bfbcb0;
  border-radius: 15px;
  padding: 5px 7px;
  font-size: 11px; }

.material {
  font-size: 14px; }
  .material tr {
    border-bottom: 1px solid #e5e5e5; }
    .material tr:last-child {
      border: 0; }
  .material .material-anchor {
    border-bottom: 1px solid #ede6d7; }

.contents {
  background-color: #f8f6f0; }
  .contents .contents-inner {
    padding: 6px 8px; }
  .contents .contents-heading {
    padding: 6px 8px;
    border-top: 1px solid #dedcd7;
    border-bottom: 1px solid #dedcd7; }
    .contents .contents-heading .contents-heading-icon {
      vertical-align: middle; }
    .contents .contents-heading .contents-heading-text {
      vertical-align: middle;
      font-size: 16px;
      font-weight: bold; }
  .contents .contents-foundation {
    background-color: #fcfbf5; }

.text-xsmall {
  font-size: 9px !important; }

.text-small {
  font-size: 12px !important; }

.text-middle {
  font-size: 15px !important; }

.text-large {
  font-size: 18px !important; }

.text-xlarge {
  font-size: 21px !important; }

.text-bold {
  font-weight: bold; }

.text-accent {
  color: #ff6600; }

.text-decoration {
  text-decoration: underline; }

/*textの色*/
.text-anchor {
  border-bottom: 1px solid #330000; }

.text-light {
  color: #99958a; }

.text-ranking {
  color: #a6744d; }

.text-title {
  color: #889b00; }

.step {
  font-size: 16px; }
  .step .step-item {
    padding: 10px;
    border-bottom: 1px solid #efe9d3; }

.listBar {
  background-color: #fff; }
  .listBar .listBar-hedding {
    padding: 6px 8px;
    font-weight: bold; }
  .listBar .listBar-item {
    padding: 6px 20px 6px 8px;
    border-bottom: 1px solid #efe9d3; }
    .listBar .listBar-item .listBar-item-inner {
      padding: 8px 0; }
    .listBar .listBar-item .listBar-item-id {
      font-size: 16px;
      text-align: center; }
    .listBar .listBar-item .listBar-item-anchor:after {
      content: '';
      border-top: 3px solid #bfbcb0;
      border-right: 3px solid #bfbcb0;
      border-radius: 3px;
      transform: rotate(45deg); }
    .listBar .listBar-item .listBar-item-thumbnail {
      border-radius: 5px; }
    .listBar .listBar-item .listBar-item-title {
      font-size: 16px;
      font-weight: bold; }
    .listBar .listBar-item .listBar-item-badge {
      color: #fff;
      font-weight: bold;
      background-color: #bfbcb0;
      border: 1px solid #bfbcb0;
      border-radius: 15px;
      padding: 0px 5px;
      font-size: 11px; }

.profile {
  padding: 10px;
  background-color: #fefcf9;
  border-top: 1px solid #efe9d3; }
  .profile .profile-thumbnail {
    border: 1px solid #fff;
    border-radius: 5px; }
  .profile .profile-name {
    font-size: 16px;
    font-weight: bold; }
  .profile .profile-description {
    font-size: 12px; }

.footer {
  text-align: center;
  padding: 15px 10px;
  background-color: #f7f3e8; }
  .footer .footer-list {
    text-align: center;
    font-size: 13px;
    font-weight: bold; }
    .footer .footer-list > * {
      display: inline;
      padding-right: 5px;
      border-right: 1px solid #eae8e3; }
    .footer .footer-list .footer-list-anchor {
      font-size: 13px; }

.btn {
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border: 1px solid #bfbcb0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fcfcfa, #e5e3d8); }
  .btn.btn-back {
    width: 75px;
    display: block;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    position: relative; }
    .btn.btn-back:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 6px;
      width: 8px;
      height: 8px;
      margin-top: -6px;
      border-top: 3px solid #7b7769;
      border-left: 3px solid #7b7769;
      border-radius: 3px;
      transform: rotate(-45deg); }
  .btn.btn-next {
    width: 75px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px 10px 10px;
    position: relative; }
    .btn.btn-next:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 6px;
      width: 8px;
      height: 8px;
      margin-top: -6px;
      border-top: 3px solid #7b7769;
      border-right: 3px solid #7b7769;
      border-radius: 3px;
      transform: rotate(45deg); }
  .btn.btn-disable {
    color: #a2a098;
    border: 1px solid #a2a098; }

.btn-more {
  display: block;
  line-height: 45px;
  color: #99958a;
  text-align: center; }

.label {
  padding: 3px;
  margin: 0 0 2px 7px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: bold; }
  .label.label-updata {
    background-color: #ef6074; }

.rankingList > li {
  text-align: center; }

.rankingList .rankingList-thumbnail {
  border-radius: 5px; }

.rankingList .rankingList-info {
  padding: 10px 0 10px 10px; }
  .rankingList .rankingList-info .rankingList-info-title {
    font-size: 22px;
    font-weight: bold; }
  .rankingList .rankingList-info .rankingList-info-text {
    font-size: 11px; }

.supplement {
  font-size: 11px;
  border: 1px solid #e1dfd3;
  border-radius: 5px;
  padding: 10px;
  background-color: #fffdef; }

.card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }
  .card .card-inner {
    padding: 10px 5px;
    box-sizing: border-box; }
  .card .card-title {
    font-size: 16px;
    line-height: 1.5em;
    padding: 14px 6px 10px 12px;
    border-bottom: 1px solid #e8e2d6; }
  .card .card-heading {
    font-size: 13px;
    background-color: #faf9f6;
    padding: 6px 8px;
    border-top: 1px solid #dedcd7;
    border-bottom: 1px solid #dedcd7; }
  .card .card-text-info {
    font-size: 11px;
    color: #99958a; }

.premiumMenu .premiumMenu-date {
  font-size: 18px;
  color: #3c3c3c; }

.premiumMenu .premiumMenu-visual {
  background: url("../img/card-background.jpg") no-repeat;
  border-radius: 5px 5px 0 0; }
  .premiumMenu .premiumMenu-visual .premiumMenu-visual-img {
    border-radius: 999px;
    overflow: hidden; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.main {
      border: 8px solid #fff; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.sub {
      border: 6px solid #fff; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.tertiary {
      border: 6px solid #fff; }
  .premiumMenu .premiumMenu-visual .premiumMenu-visual-theme {
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    background-color: #f93;
    border-radius: 0 5px 5px 0; }

.premiumMenu .premiumMenu-info {
  padding: 0 10px 13px; }
  .premiumMenu .premiumMenu-info .premiumMenu-infoList {
    font-size: 16px; }
    .premiumMenu .premiumMenu-info .premiumMenu-infoList > li {
      border-right: 1px solid #e3dcca;
      padding-left: 10px; }
    .premiumMenu .premiumMenu-info .premiumMenu-infoList .premiumMenu-infoList-text {
      color: #666;
      font-size: 10px;
      text-align: center; }
  .premiumMenu .premiumMenu-info .premiumMenu-info-title {
    font-size: 19px;
    font-weight: bold;
    color: #889b00;
    line-height: 1.5em; }
  .premiumMenu .premiumMenu-info .premiumMenu-info-sidMenu {
    font-size: 16px;
    font-weight: bold;
    color: #666; }

.breadcrumb {
  border-top: 1px solid #bfbcb0;
  background-color: #f8f6f0;
  padding: 2px;
  font-size: 12px; }
  .breadcrumb > li {
    float: left;
    padding: 1px 2px; }
    .breadcrumb > li:after {
      content: '';
      padding: 6px 4px;
      margin-left: 4px;
      background: url("../img/breadcrumb-separator.png") no-repeat;
      background-size: 8px 24px; }

.news {
  padding: 15px;
  font-size: 15px;
  line-height: 1.5em; }
  .news .news-title {
    font-size: 18px;
    font-weight: bold;
    color: #4d2200;
    line-height: 1.5em; }
  .news .news-sub-title {
    font-size: 17px;
    font-weight: bold;
    color: #4d2200;
    margin-bottom: 15px;
    border-left: 6px solid #ff9933;
    padding-left: 12px; }
  .news .news-tertiary-title {
    font-size: 16px;
    background: url(../img/title-circle.png) no-repeat 0 1px;
    color: #4d2200;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 22px; }
  .news .news-media {
    border: 1px solid #eae8e3;
    border-radius: 6px;
    overflow: hidden;
    padding-right: 10px; }
    .news .news-media .news-media-thumbnail {
      padding-right: 10px; }
    .news .news-media .news-media-body .news-media-body-title {
      color: #889b00;
      font-weight: bold;
      padding-top: 10px; }
    .news .news-media .news-media-body .news-media-body-contributor {
      font-size: 11px;
      color: #99958a; }
  .news .news-relationList .news-relationList-title {
    color: #4d2200;
    font-weight: bold; }
  .news .new-arrival > * {
    position: relative;
    box-sizing: border-box; }
    .news .new-arrival > * .new-arrival-title {
      position: absolute;
      bottom: 6px;
      left: 0;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      line-height: 1.3em;
      padding: 0 10px 5px;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
    .news .new-arrival > * .new-arrival-label {
      font-size: 10px;
      font-weight: bold;
      background-color: #ef6074;
      padding: 3px 5px;
      margin-left: 5px;
      border-radius: 3px; }

.rowList {
  background-color: #fff; }
  .rowList > li {
    border-right: 1px solid #eae8e3;
    border-bottom: 1px solid #eae8e3; }
  .rowList .rowList-anchor {
    display: block;
    padding: 10px; }

.featureList {
  border: 1px solid #eae8e3;
  background-color: #fff;
  position: relative; }
  .featureList > li {
    border-bottom: 1px solid #eae8e3;
    position: relative; }
    .featureList > li:last-child {
      border-bottom: 0; }
  .featureList .featureList-body {
    color: #4c4a40;
    font-size: 11px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box; }
    .featureList .featureList-body .featureList-body-label {
      display: inline-block;
      margin-bottom: 8px;
      border-radius: 12px;
      padding: 0 16px;
      text-align: center;
      background-color: #f5f3eb;
      font-size: 12px; }
    .featureList .featureList-body .featureList-body-title {
      color: #889b00;
      font-size: 16px;
      font-weight: bold;
      padding-right: 25px; }
    .featureList .featureList-body .featureList-body-contributor {
      color: #99958a; }

.tab {
  border: 1px solid #bfbcb0;
  border-radius: 3px;
  text-align: center; }
  .tab .tab-btn {
    padding: 8px 0;
    background: linear-gradient(to bottom, #fcfcfa, #efeee7);
    text-shadow: 0 -1px 0 #7e796a; }
    .tab .tab-btn.tab-btn-selected {
      color: #fff;
      background: linear-gradient(to bottom, #8c8676, #a6a090); }

.filter {
  position: relative;
  padding-right: 18px; }
  .filter:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 2px;
    border-top: 5px solid #4c4a40;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent; }

.carousel {
  background-color: #fff;
  padding: 6px 0 10px 10px;
  border: 1px solid #eae8e3; }
  .carousel .carousel-title {
    color: #4d2200;
    font-size: 13px; }
  .carousel .carousel-list {
    overflow: scroll; }

.popularList > li .popularList-rank {
  background-color: #fff;
  padding: 0 2px 2px 0; }

.premiumList::-webkit-scrollbar {
  display: none; }

.premiumList > li {
  position: relative;
  margin-right: 10px; }
  .premiumList > li:first-child {
    margin-left: 0; }
  .premiumList > li .premiumList-body {
    width: 100%;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)); }
    .premiumList > li .premiumList-body .premiumList-body-category {
      width: 90px;
      background-color: #f93;
      padding: 1px 0;
      border-radius: 3px;
      font-size: 10px;
      text-align: center;
      color: #fff; }
    .premiumList > li .premiumList-body .premiumList-body-title {
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .premiumList > li .premiumList-thumbnail {
    width: 248px; }

.relation .relation-heading {
  padding: 6px 8px;
  border: 1px solid #efe9d3;
  border-bottom: 0;
  background-color: #fff;
  color: #4d2200;
  font-weight: bold; }

.relation .relation-list {
  border: 1px solid #efe9d3; }

.functions {
  border-bottom: 1px solid #eae8e3; }
  .functions .functions-item {
    width: 33%;
    border-right: 1px solid #eae8e3; }
    .functions .functions-item:last-child {
      border-right: 0; }
    .functions .functions-item .functions-item-inner {
      margin: 0 auto;
      padding: 10px 5px;
      vertical-align: middle; }
    .functions .functions-item .functions-item-icon {
      width: 22px;
      padding-right: 5px; }
    .functions .functions-item .functions-item-text {
      font-size: 12px;
      font-weight: bold;
      vertical-align: middle; }

.border-bottom {
  border-bottom: 1px solid #efe9d3; }

.border-separate-left {
  border-left: 1px solid #fff; }

.border-separate-top {
  border-top: 1px solid #efe9d3; }

.border-decoration-left.recipe {
  border-left: 6px solid #889b00; }

.border-decoration-left.pro-recipe {
  border-left: 6px solid #4ab8b9; }

.border-decoration-left.tv {
  border-left: 6px solid #ff9933; }

.border-decoration-left.lesson {
  border-left: 6px solid #c38bac; }

.border-decoration-top.main {
  border-top: 3px solid #ff9933; }

.border-decoration-top.recipe {
  border-top: 3px solid #889b00; }

.border-decoration-top.arrival {
  border-top: 3px solid #4d2200; }

.border-decoration-top.other {
  border-top: 3px solid #65382f; }

.anchor {
  display: block;
  position: relative; }
  .anchor:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    padding: 4px;
    border-top: 3px solid #bfbcb0;
    border-right: 3px solid #bfbcb0;
    border-radius: 3px;
    transform: rotate(45deg); }

.advertisement .advertisement-label {
  color: #fff;
  font-size: 10px;
  background-color: #cca180;
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 5px; }

.advertisement .advertisement-contents {
  font-size: 14px;
  color: #99958a;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #eae8e3;
  background-color: #fff; }

.main-visual {
  position: relative; }
  .main-visual .main-visual-body {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)); }
    .main-visual .main-visual-body > * {
      display: inline-block; }
    .main-visual .main-visual-body .main-visual-body-date {
      color: #fff;
      font-size: 11px;
      text-align: center;
      padding: 5px 0;
      background-color: #ff9933;
      border-radius: 3px;
      width: 48px; }
    .main-visual .main-visual-body .main-visual-body-title {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      margin-left: 5px;
      text-shadow: 0 1px 1px #000000;
      width: 236px; }
  .main-visual .main-visual-contributor {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 15px; }
    .main-visual .main-visual-contributor .main-visual-contributor-thumbnail {
      width: 20px;
      vertical-align: middle;
      border-radius: 3px; }

.campaign .campaign-appeal {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 25px 30px 10px 35px; }
  .campaign .campaign-appeal .campaign-appeal-text {
    font-size: 21px; }
  .campaign .campaign-appeal .campaign-appeal-emphasis {
    font-size: 32px; }
  .campaign .campaign-appeal .campaign-appeal-emphasis-number {
    font-size: 43px; }

.campaign .campaign-merit {
  font-size: 13px;
  text-align: center;
  line-height: 1.3em;
  padding: 5px 0;
  background: #ffe6cc none no-repeat left center;
  border-radius: 4px; }

.contest {
  background-color: #fef6de; }
  .contest .contest-body {
    padding: 10px; }
  .contest .contest-title {
    color: #ff9933;
    font-size: 15px;
    text-align: center;
    height: 42px;
    background: url("../img/contest-logo.png") no-repeat;
    background-size: 42px;
    padding-top: 10px;
    padding-left: 45px; }
  .contest .contest-theme {
    color: #330000;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  .contest .contest-period {
    color: #fff;
    font-size: 12px;
    padding: 5px 30px;
    background-color: #330000;
    border-radius: 20px; }
  .contest .contest-contents-separate {
    height: 5px;
    background: url("../img/contest-border.png") repeat-x; }

.is-block {
  display: block; }

.is-inlineblock {
  display: inline-block; }
