@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, a {
  color: #4c4a40;
  font-size: 14px;
  line-height: 1.4em; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*幅の指定*/
.full {
  width: 100% !important; }

.half {
  width: 50% !important; }

/*左寄せ*/
.left {
  float: left; }

/*右寄せ*/
.right {
  float: right; }

/*コンテンツの中央寄せ*/
.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

/*コンテンツ上下の幅*/
.l-container {
  padding: 10px; }

/*2カラムレイアウト*/
.l-half > * {
  width: 48%;
  float: left;
  box-sizing: border-box; }
  .l-half > *:last-child {
    margin-left: 4%; }

/*bottom*/
.l-bottom-small {
  margin-bottom: 5px !important; }

.l-bottom {
  margin-bottom: 15px !important; }

.l-bottom-large {
  margin-bottom: 30px !important; }

/*left*/
.l-left-small {
  margin-left: 5px !important; }

.l-left {
  margin-left: 15px !important; }

/*横並びリスト*/
.l-list > * {
  float: left; }

/*tableレイアウト*/
.l-table {
  display: table; }
  .l-table > * {
    display: table-cell; }

.header {
  border-top: 3px solid #ff9933;
  background-color: #f8f6f0; }
  .header .header-logo {
    width: 145px;
    padding: 8px;
    box-sizing: border-box; }
  .header .header-btn {
    margin: 5px 0; }
    .header .header-btn > * {
      display: inline-block;
      width: 50px;
      border-left: 1px solid #eae8e3;
      box-shadow: inset 1px 0 0 #fff;
      font-size: 9px;
      text-align: center; }
    .header .header-btn .header-btn-login {
      display: block;
      width: 22px;
      margin: 2px auto; }
    .header .header-btn .header-btn-menu {
      display: block;
      width: 22px;
      margin: 2px auto; }

.search {
  padding: 6px 8px 10px;
  background-color: #f8f6f0;
  border-bottom: 1px solid #bfbcb0; }
  .search .search-area {
    position: relative;
    height: 38px;
    border: 1px solid #bfbcb0;
    border-radius: 5px;
    overflow: hidden; }
    .search .search-area .search-area-input {
      width: 100%;
      height: 40px;
      border: 0;
      /*defaultで設定されているcssを打ち消す*/
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
      font-size: 16px;
      padding-left: 10px; }
    .search .search-area .search-area-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: 0;
      /*defaultで設定されているcssを打ち消す*/
      border-left: 1px solid #bfbcb0;
      background: linear-gradient(to bottom, #fcfcfa, #e5e3d8);
      padding: 0;
      /*defaultで設定されているcssを打ち消す*/ }

.recipe .recipe-visual {
  position: relative; }
  .recipe .recipe-visual .recipe-visual-title {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 20px 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(123, 119, 105, 0), rgba(123, 119, 105, 0.4)); }

.recipe .recipe-description {
  font-size: 14px;
  line-height: 1.3em; }

.recipe .recipe-information {
  font-size: 13px; }
  .recipe .recipe-information > * {
    background: linear-gradient(to bottom, #fff, #f6f4ef);
    padding: 7px;
    border: 1px solid #e2e0da;
    border-radius: 20px;
    position: relative; }
  .recipe .recipe-information .recipe-information-person > * {
    float: left; }
  .recipe .recipe-information .recipe-information-person .recipe-information-person-thumbnail {
    width: 18px; }
  .recipe .recipe-information .recipe-information-report-badge {
    color: #fff;
    font-weight: bold;
    background-color: #bfbcb0;
    border: 1px solid #bfbcb0;
    border-radius: 15px;
    padding: 2px 12px;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -13px;
    font-size: 11px; }

.recipe .recipe-navi {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-top: 1px solid #bfbcb0;
  border-bottom: 1px solid #bfbcb0;
  margin-bottom: 7px; }
  .recipe .recipe-navi > .recipe-navi-item {
    display: table-cell;
    padding: 5px 10px;
    text-align: center;
    font-size: 9px;
    border-left: 1px solid #bfbcb0;
    background: linear-gradient(to bottom, #fcfcfa, #e5e3d8); }
    .recipe .recipe-navi > .recipe-navi-item:first-child {
      border: 0; }
    .recipe .recipe-navi > .recipe-navi-item .recipe-navi-item-anchor > * {
      margin: 0 auto; }

.badge {
  color: #fff;
  font-weight: bold;
  background-color: #bfbcb0;
  border: 1px solid #bfbcb0;
  border-radius: 15px;
  padding: 5px 7px;
  font-size: 11px; }

.material {
  width: 100%;
  font-size: 14px; }
  .material tr {
    border-bottom: 1px solid #e5e5e5; }
    .material tr:last-child {
      border: 0; }
    .material tr > th, .material tr td {
      padding: 8px; }
    .material tr > th {
      text-align: left; }
    .material tr > td {
      text-align: right; }
  .material .material-anchor {
    border-bottom: 1px solid #ede6d7; }

.contents .contents-inner {
  padding: 6px 8px; }

.contents .contents-heading {
  background: #f8f6f0;
  padding: 6px 8px;
  border-top: 1px solid #dedcd7;
  border-bottom: 1px solid #dedcd7; }
  .contents .contents-heading > .contents-heading-icon {
    vertical-align: middle; }
  .contents .contents-heading > .contents-heading-text {
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold; }

.contents .contents-foundation {
  background-color: #fcfbf5; }

.text-xsmall {
  font-size: 9px !important; }

.text-small {
  font-size: 12px !important; }

.text-bold {
  font-weight: bold; }

.text-anchor {
  border-bottom: 1px solid #330000; }

.text-center {
  text-align: center; }

.text-middle {
  vertical-align: middle; }

.text-accent {
  color: #ff6600; }

.text-decoration {
  text-decoration: underline; }

.step {
  font-size: 16px; }
  .step .step-item {
    padding: 10px;
    border-bottom: 1px solid #efe9d3; }
    .step .step-item .step-item-body {
      display: -ms-flexbox;
      display: flex; }
    .step .step-item .step-item-thumbnail {
      width: 136px; }

.media .media-body {
  width: 64%;
  float: left; }

.media .media-thumbnail {
  width: 36%;
  float: left; }

.listBar .listBar-item {
  position: relative;
  padding: 6px 8px;
  border-bottom: 1px solid #efe9d3; }
  .listBar .listBar-item .listBar-item-id {
    font-size: 16px;
    text-align: center; }
  .listBar .listBar-item .listBar-item-anchor {
    display: table; }
    .listBar .listBar-item .listBar-item-anchor:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 8px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      border-top: 3px solid #bfbcb0;
      border-right: 3px solid #bfbcb0;
      border-radius: 3px;
      transform: rotate(45deg); }
  .listBar .listBar-item .listBar-item-thumbnail {
    display: table-cell;
    width: 40px;
    border-radius: 5px;
    margin-right: 5px; }
  .listBar .listBar-item .listBar-item-text {
    display: table-cell;
    vertical-align: middle; }
  .listBar .listBar-item .listBar-item-badge {
    position: absolute;
    top: 50%;
    right: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #bfbcb0;
    border: 1px solid #bfbcb0;
    margin-top: -11px;
    border-radius: 15px;
    padding: 0px 8px;
    font-size: 11px; }

.profile {
  padding: 10px;
  background-color: #fefcf9;
  border-top: 1px solid #efe9d3; }
  .profile .profile-thumbnail {
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px; }
  .profile .profile-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .profile .profile-description {
    font-size: 12px; }

.footer {
  padding: 15px 10px;
  background-color: #f7f3e8;
  border-top: 1px solid #bfbcb0; }
  .footer .footer-list {
    text-align: center;
    font-size: 13px; }
    .footer .footer-list > * {
      display: inline;
      padding-right: 5px;
      border-right: 1px solid #eae8e3; }
    .footer .footer-list .footer-list-anchor {
      font-size: 13px; }

.btn {
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border: 1px solid #bfbcb0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fcfcfa, #e5e3d8); }
  .btn.btn-back {
    width: 75px;
    display: block;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    position: relative; }
    .btn.btn-back:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 6px;
      width: 8px;
      height: 8px;
      margin-top: -6px;
      border-top: 3px solid #7b7769;
      border-left: 3px solid #7b7769;
      border-radius: 3px;
      transform: rotate(-45deg); }
  .btn.btn-next {
    width: 75px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px 10px 10px;
    position: relative; }
    .btn.btn-next:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 6px;
      width: 8px;
      height: 8px;
      margin-top: -6px;
      border-top: 3px solid #7b7769;
      border-right: 3px solid #7b7769;
      border-radius: 3px;
      transform: rotate(45deg); }
  .btn.btn-disable {
    opacity: .5; }
    .btn.btn-disable:before {
      opacity: 1; }

.label {
  padding: 3px 5px;
  margin: 0 0 2px 7px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: bold; }
  .label.label-updata {
    background-color: #ef6074; }

.rankingList {
  min-width: 300px; }
  .rankingList > li > * {
    display: block;
    margin: 0 auto; }
  .rankingList .rankingList-icon {
    width: 20px; }
  .rankingList .rankingList-thumbnail {
    border-radius: 5px;
    width: 65px; }
  .rankingList .rankingList-info {
    width: 85px;
    padding: 10px 0 10px 10px; }
    .rankingList .rankingList-info .rankingList-info-title {
      font-size: 22px;
      font-weight: bold;
      margin: 15px 0 5px; }
    .rankingList .rankingList-info .rankingList-info-text {
      font-size: 11px; }

.supplement {
  font-size: 11px;
  border: 1px solid #e1dfd3;
  border-radius: 5px;
  padding: 10px;
  background-color: #fffdef; }

.card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }

.premiumMenu {
  margin-bottom: 25px; }
  .premiumMenu .premiumMenu-date {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px; }
  .premiumMenu .premiumMenu-visual {
    height: 215px;
    position: relative;
    background: url("../img/card-background.jpg") no-repeat;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-img {
      border-radius: 999px;
      overflow: hidden;
      position: absolute; }
      .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.main {
        border: 8px solid #fff;
        width: 160px;
        height: 160px;
        top: 16px;
        left: 10px; }
      .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.sub {
        border: 6px solid #fff;
        width: 80px;
        height: 80px;
        top: 7px;
        right: 20px; }
      .premiumMenu .premiumMenu-visual .premiumMenu-visual-img.tertiary {
        border: 6px solid #fff;
        width: 80px;
        height: 80px;
        top: 108px;
        right: 20px; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-theme {
      color: #fff;
      font-size: 13px;
      text-align: center;
      position: absolute;
      top: 12px;
      left: 0;
      padding: 5px;
      background-color: #f93;
      border-radius: 0 5px 5px 0; }
    .premiumMenu .premiumMenu-visual .premiumMenu-visual-stick {
      position: absolute;
      width: 100px;
      bottom: 6px;
      left: 50%;
      margin-left: -50px; }
  .premiumMenu .premiumMenu-info {
    padding: 0 10px 13px; }
    .premiumMenu .premiumMenu-info .premiumMenu-info-list {
      font-size: 16px; }
      .premiumMenu .premiumMenu-info .premiumMenu-info-list > li {
        border-right: 1px solid #e3dcca;
        padding-left: 10px; }
      .premiumMenu .premiumMenu-info .premiumMenu-info-list .premiumMenu-info-list-text {
        color: #666;
        font-size: 10px;
        text-align: center; }
      .premiumMenu .premiumMenu-info .premiumMenu-info-list .premiumMenu-info-list-icon {
        height: 18px; }
    .premiumMenu .premiumMenu-info .premiumMenu-info-title {
      font-size: 19px;
      font-weight: bold;
      color: #889b00;
      line-height: 1.5em; }
    .premiumMenu .premiumMenu-info .premiumMenu-info-sid-menu {
      font-size: 16px;
      font-weight: bold;
      color: #666; }
