/*幅の指定*/
.full {
  width: 100% !important;
}

.half {
  width: 50% !important;
}

/*左寄せ*/
.left {
  float: left;
}

/*右寄せ*/
.right {
  float: right;
}

/*テキストの左寄せ*/
.align-left {
  text-align: left;
}

/*テキストの右寄せ*/
.align-right {
  text-align: right;
}

/*テキスト真ん中寄せ*/
.align-center {
  text-align: center;
}

/*コンテンツ中央寄せ*/
.vertical-middle {
  vertical-align: middle;
}

/*コンテンツ中央寄せ*/
.center {
  display: flex;
  justify-content: center;
}

/*コンテンツ上下の幅*/
.l-container {
  padding: 10px;
}

/*2カラムレイアウト*/
.l-half > * {
  width: 48%;
  float: left;
  box-sizing: border-box;

  &:last-child {
    margin-left: 4%;
  }
}

/*bottom*/
.l-bottom-small {
  margin-bottom: 5px !important;
}

.l-bottom {
  margin-bottom: 15px !important;
}

.l-bottom-large {
  margin-bottom: 30px !important;
}

/*left*/
.l-left-small {
  margin-left: 5px !important;
}

.l-left {
  margin-left: 15px !important;
}

/*right*/
.l-right-small {
  margin-right: 5px !important;
}

.l-right {
  margin-right: 15px !important;
}

/*横並びリスト*/
.l-list {

  & > * {
    float: left;
  }
}

.l-row {
  display: flex;
}

/*tableレイアウト*/
.l-table {
  display: table;
  table-layout: fixed;

  & > * {
    display: table-cell;
  }
}

/*paddingレイアウト*/
.l-padding {
  padding: 10px;
}

.l-padding-right-small {
  padding-right: 10px;
}

.l-padding-right {
  padding-right: 15px;
}

/*行間レイアウト*/
.l-lineheight {
  line-height: 1.5em;
}
