.l-news {

  .l-news-media {

    & > * {
      float: left;
      box-sizing: border-box;
    }

    .l-news-media-thumbnail {
      width: 32%;
    }

    .l-news-media-body {
      width: 68%;
    }
  }
}
