.l-popularList {

  & > li {
    width: 113px;
    height: 113px;
    margin-left: 10px;
    position: relative;

    .populatList-rank {
      background-color: #fff;
      padding: 0 2px 2px 0;
    }
  }
}
