.l-premiumMenu {
  margin-bottom: 25px;

  .l-premiumMenu-date {
    margin-bottom: 10px;
  }

  .l-premiumMenu-visual {
    height: 215px;
    margin-bottom: 10px;
    position: relative;

    .l-premiumMenu-visual-inner {
      position: relative;
      width: 276px;
      margin: 0 auto;
    }

    .l-premiumMenu-visual-img {
      position: absolute;

      &.main {
        width: 160px;
        height: 160px;
        top: 16px;
        left: 0;
      }

      &.sub {
        width: 80px;
        height: 80px;
        top: 7px;
        right: 5px;
      }

      &.tertiary {
        width: 80px;
        height: 80px;
        top: 108px;
        right: 5px;
      }
    }

    .l-premiumMenu-visual-theme {
      position: absolute;
      top: 12px;
      left: 0;
    }

    .l-premiumMenu-visual-stick {
      position: absolute;
      width: 100px;
      bottom: 6px;
      left: 50%;
      margin-left: -50px;
    }
  }

  .l-premiumMenu-info {

    .l-premiumMenu-infoList-icon {
      height: 18px;
    }
  }
}
