.l-recipe {

  .l-recipe-visual {
    position: relative;

    .l-recipe-visual-title {
      position: absolute;
      bottom: 5px;
      left: 0;
      padding: 20px 10px;
    }
  }

  .l-recipe-information {

    & > * {
      position: relative;
    }

    .l-recipe-information-person {

      & > * {
        float: left;
      }

      .l-recipe-information-person-thumbnail {
        width: 18px;
      }
    }

    .l-recipe-information-report-badge {
      position: absolute;
      top: 50%;
      right: 4px;
      margin-top: -13px;
    }
  }

  .l-recipe-navi {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 7px;

    & > .l-recipe-navi-item {
      display: table-cell;

      .l-recipe-navi-item-anchor {

        & > * {
          margin: 0 auto;
        }
      }
    }
  }
}
