.breadcrumb {
  border-top: 1px solid #bfbcb0;
  background-color: #f8f6f0;
  padding: 2px;
  font-size: 12px;

  & > li {
    float: left;
    padding: 1px 2px;

    &:after {
      content: '';
      padding: 6px 4px;
      margin-left: 4px;
      background: url('../img/breadcrumb-separator.png') no-repeat;
      background-size: 8px 24px;
    }
  }
}
