.btn {
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border: 1px solid #bfbcb0;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fcfcfa, #e5e3d8);

  &.btn-back {
    width: 75px;
    display: block;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 6px;
      width: 8px;
      height: 8px;
      margin-top: -6px;
      border-top: 3px solid #7b7769;
      border-left: 3px solid #7b7769;
      border-radius: 3px;
      transform: rotate(-45deg);
    }
  }
}
