.campaign {

  .campaign-appeal {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 25px 30px 10px 35px;

    .campaign-appeal-text {
      font-size: 20px;
      vertical-align: 6px;
    }

    .campaign-appeal-emphasis {
      font-size: 32px;
    }

    .campaign-appeal-emphasis-number {
      font-size: 38px;
      margin-right: -8px;
    }
  }

  .campaign-merit {
    font-size: 13px;
    text-align: center;
    line-height: 1.3em;
    padding: 5px 0;
    background: #ffe6cc none no-repeat left center;
    border-radius: 4px;
  }
}
