.carousel {
  background-color: #fff;
  padding: 6px 0 10px 10px;
  border: 1px solid #eae8e3;

  .carousel-title {
    color: #4d2200;
    font-size: 13px;
  }

  .carousel-list {
    overflow: scroll;
  }
}
