.card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);

  .card-inner {
    padding: 10px 5px;
  }

  .card-title {
    font-size: 16px;
    line-height: 1.5em;
    padding: 14px 6px 10px 12px;
    border-bottom: 1px solid #e8e2d6;
  }

  .card-heading {
    font-size: 13px;
    background-color: #faf9f6;
    padding: 6px 8px;
    border-top: 1px solid #dedcd7;
    border-bottom: 1px solid #dedcd7;
  }

  .card-text-info {
    font-size: 11px;
    color: #99958a;
  }
}
