.contents {
  background-color: #f8f6f0;

  .contents-inner {
    padding: 6px 8px;
  }

  .contents-heading {
    background: #f8f6f0;
    padding: 6px 8px;
    border-top: 1px solid #dedcd7;
    border-bottom: 1px solid #dedcd7;

    .contents-heading-icon {
      vertical-align: middle;
    }

    .contents-heading-text {
      vertical-align: middle;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .contents-foundation {
    background-color: #fcfbf5;
  }
}
