.featureList {
  border: 1px solid #eae8e3;
  background-color: #fff;
  position: relative;

  & > li {
    border-bottom: 1px solid #eae8e3;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }
  }

  .featureList-body {
    color: #4c4a40;
    font-size: 11px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;

    .featureList-body-label {
      display: inline-block;
      margin-bottom: 8px;
      border-radius: 12px;
      padding: 0 16px;
      text-align: center;
      background-color: #f5f3eb;
      font-size: 12px;
    }

    .featureList-body-title {
      color: #889b00;
      font-size: 16px;
      font-weight: bold;
      padding-right: 25px;
    }

    .featureList-body-contributor {
      color: #99958a;
    }
  }
}
