.functions {
  border-bottom: 1px solid #eae8e3;

  .functions-item {
    width: 33%;
    border-right: 1px solid #eae8e3;

    &:last-child {
      border-right: 0;
    }

    .functions-item-inner {
      margin: 0 auto;
      padding: 10px 5px;
      vertical-align: middle;
    }

    .functions-item-icon {
      width: 22px;
      padding-right: 5px;
    }

    .functions-item-text {
      font-size: 12px;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
