.functions {
  border-bottom: 1px solid #eae8e3;

  .functions-item {
    width: 33%;
    border-right: 1px solid #eae8e3;

    &:last-child {
      border-right: 0;
    }

    .functions-item-inner {
      display: block;
      padding: 10px 5px;
      text-align: center;
    }

    .functions-item-icon {
      width: 22px;
      vertical-align: middle;
    }

    .functions-item-text {
      font-size: 12px;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
