.header {
  border-top: 3px solid #ff9933;
  background-color: #f8f6f0;

  .header-btn {

    & > * {
      border-left: 1px solid #eae8e3;
      box-shadow: inset 1px 0 0 #fff;
      font-size: 9px;
      text-align: center;
    }
  }
}
