.listBar {
  background-color: #fff;

  .listBar-hedding {
    padding: 6px 8px;
    font-weight: bold;
  }

  .listBar-item {
    padding: 6px 20px 6px 8px;
    border-bottom: 1px solid #efe9d3;

    .listBar-item-inner {
      padding: 8px 0;
    }

    .listBar-item-id {
      font-size: 16px;
      text-align: center;
    }

    .listBar-item-anchor{

      &:after {
        content: '';
        border-top: 3px solid #bfbcb0;
        border-right: 3px solid #bfbcb0;
        border-radius: 3px;
        transform: rotate(45deg);
      }
    }

    .listBar-item-thumbnail {
      border-radius: 5px;
    }

    .listBar-item-title {
      font-size: 16px;
      font-weight: bold;
    }

    .listBar-item-badge {
      color: #fff;
      font-weight: bold;
      background-color: #bfbcb0;
      border: 1px solid #bfbcb0;
      border-radius: 15px;
      padding: 0px 5px;
      font-size: 11px;
    }
  }
}
