.material {
  width: 100%;
  font-size: 14px;

  tr {
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      border: 0;
    }

    & > th,td {
      padding: 8px;
    }

    & > th {
      text-align: left;
    }

    & > td {
      text-align: right;
    }
  }

  .material-anchor {
    border-bottom: 1px solid #ede6d7;
  }
}
