.newsHeader {
  border-top: 3px solid #ff9933;

  .newsHeader-logo {
    width: 52px;
    padding: 8px;
    box-sizing: border-box;
    margin-right: -5px;
  }

  .newsHeader-text {
    width: 130px;
    padding: 14px 10px;
    box-sizing: border-box;
    border-left: 1px solid #dedcd7;
  }
}
