.news {
  padding: 15px;
  font-size: 15px;
  line-height: 1.5em;

  .news-title {
    font-size: 18px;
    font-weight: bold;
    color: #4d2200;
    line-height: 1.5em;
  }

  .news-sub-title {
    font-size: 17px;
    font-weight: bold;
    color: #4d2200;
    margin-bottom: 15px;
    border-left: 6px solid #ff9933;
    padding-left: 12px;
  }

  .news-tertiary-title {
    font-size: 16px;
    background: url(../img/title-circle.png) no-repeat 0 1px;
    color: #4d2200;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 22px;
  }

  .news-media {
    border: 1px solid #eae8e3;
    border-radius: 6px;
    overflow: hidden;
    padding-right: 10px;

    .news-media-thumbnail {
      padding-right: 10px;
    }

    .news-media-body {

      .news-media-body-title {
        color: #889b00;
        font-weight: bold;
        padding-top: 10px;
      }

      .news-media-body-contributor {
        font-size: 11px;
        color: #99958a;
      }
    }
  }

  .news-relationList {

    .news-relationList-title {
      color: #4d2200;
      font-weight: bold;
    }
  }

  .new-arrival {

    & > * {
      position: relative;
      box-sizing: border-box;

      .new-arrival-title {
        position: absolute;
        bottom: 6px;
        left: 0;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        line-height: 1.3em;
        padding: 0 10px 5px;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      }

      .new-arrival-label {
        font-size: 10px;
        font-weight: bold;
        background-color: #ef6074;
        padding: 3px 5px;
        margin-left: 5px;
        border-radius: 3px;
      }
    }
  }
}
