.premiumMenu {
  margin-bottom: 25px;

  .premiumMenu-date {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
  }

  .premiumMenu-visual {
    height: 215px;
    position: relative;
    background: url('../img/card-background.jpg') no-repeat;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;

    .premiumMenu-visual-img {
      border-radius: 999px;
      overflow: hidden;
      position: absolute;

      &.main {
        border: 8px solid #fff;
        width: 160px;
        height: 160px;
        top: 16px;
        left: 10px;
      }

      &.sub {
        border: 6px solid #fff;
        width: 80px;
        height: 80px;
        top: 7px;
        right: 20px;
      }

      &.tertiary {
        border: 6px solid #fff;
        width: 80px;
        height: 80px;
        top: 108px;
        right: 20px;
      }
    }

    .premiumMenu-visual-theme {
      color: #fff;
      font-size: 13px;
      text-align: center;
      position: absolute;
      top: 12px;
      left: 0;
      padding: 5px;
      background-color: #f93;
      border-radius: 0 5px 5px 0;
    }

    .premiumMenu-visual-stick {
      position: absolute;
      width: 100px;
      bottom: 6px;
      left: 50%;
      margin-left: -50px;
    }
  }

  .premiumMenu-info {
    padding: 0 10px 13px;

    .premiumMenu-info-list {
      font-size: 16px;

      & > li {
        border-right: 1px solid #e3dcca;
        padding-left: 10px;
      }

      .premiumMenu-info-list-text {
        color: #666;
        font-size: 10px;
        text-align: center;
      }

      .premiumMenu-info-list-icon {
        height: 18px;
      }
    }

    .premiumMenu-info-title {
      font-size: 19px;
      font-weight: bold;
      color: #889b00;
      line-height: 1.5em;
    }

    .premiumMenu-info-sid-menu {
      font-size: 16px;
      font-weight: bold;
      color: #666;
    }
  }
}
