.premiumMenu {

  .premiumMenu-date {
    font-size: 18px;
    color: #3c3c3c;
  }

  .premiumMenu-visual {
    background: url('../img/card-background.jpg') no-repeat;
    border-radius: 5px 5px 0 0;

    .premiumMenu-visual-img {
      border-radius: 999px;
      overflow: hidden;

      &.main {
        border: 8px solid #fff;
      }

      &.sub {
        border: 6px solid #fff;
      }

      &.tertiary {
        border: 6px solid #fff;
      }
    }

    .premiumMenu-visual-theme {
      color: #fff;
      font-size: 13px;
      text-align: center;
      padding: 5px;
      background-color: #f93;
      border-radius: 0 5px 5px 0;
    }
  }

  .premiumMenu-info {
    padding: 0 10px 13px;

    .premiumMenu-infoList {
      font-size: 16px;

      & > li {
        border-right: 1px solid #e3dcca;
        padding-left: 10px;
      }

      .premiumMenu-infoList-text {
        color: #666;
        font-size: 10px;
        text-align: center;
      }
    }

    .premiumMenu-info-title {
      font-size: 19px;
      font-weight: bold;
      color: #889b00;
      line-height: 1.5em;
    }

    .premiumMenu-info-sidMenu {
      font-size: 16px;
      font-weight: bold;
      color: #666;
    }
  }
}
