.relation {

  .relation-heading {
    padding: 6px 8px;
    border: 1px solid #efe9d3;
    border-bottom: 0;
    background-color: #fff;
    color: #4d2200;
    font-weight: bold;
  }

  .relation-list {
    border: 1px solid #efe9d3;
  }
}
