.step {
  font-size: 16px;

  .step-item {
    padding: 10px;
    border-bottom: 1px solid #efe9d3;

    .step-item-body {
      display: flex;
    }

    .step-item-thumbnail {
      width: 136px;
    }
  }

}
