.tab {
  border: 1px solid #bfbcb0;
  border-radius: 3px;
  text-align: center;

  .tab-btn {
    box-shadow: inset 1px 0 0 #fff;
    padding:: 8px 0;
    background: linear-gradient(to bottom, #fcfcfa, #efeee7);
    text-shadow: 0 -1px 0 #7e796a;

    &.btn-selected {
      color: #fff;
      background: linear-gradient(to bottom, #8c8676, #a6a090);
    }
  }
}
