.text-xsmall {
  font-size: 9px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-middle {
  font-size: 15px !important;
}

.text-bold {
  font-weight: bold;
}

.text-accent {
  color: #ff6600;
}

.text-decoration {
  text-decoration: underline;
}

/*textの色*/

.text-anchor {
  border-bottom: 1px solid #330000;
}

.text-info {
  color: #99958a;
}

.text-ranking {
  color: #a6744d;
}

.text-title {
  color: #889b00;
}
